@import url('https://fonts.googleapis.com/css?family=Gayathri&display=swap');

body{
    background-color: #f5cb9a;
    font-family: 'Gayathri', sans-serif;
}
h1{
    text-align: center;
    font-size: 55px;
    color: brown;
}
span{
    background-color: lightyellow;
}
img{
    width: 300px;
}
#chef{
    text-align: center;
}
p{
    text-align: center;
}
p a{
    font-size: 25px;
}
#github-button{
    width: auto;
    text-align: center;
}
button:hover{
    background-color: black;
    color: white;
}